<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css">
    <script src="/bootstrap-5.3.0-alpha3-dist/js/bootstrap.min.js"></script>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>

<div class="container" style="width: 60%;">
    <div style="margin: 100px"></div>
    <table>
        <tr>
            <td colspan="2"><h2 th:text="${boardDto.title}"></h2></td>
        </tr>

        <tr>
            <td colspan="2" style="color: #7D7D7D"><span th:inline="text">작성일 : [[${#temporals.format(boardDto.createdDate, 'yyyy-MM-dd HH:mm')}]]</span></td>
        </tr>
        <tr>
            <td colspan="2" style="color: #7D7D7D">작성자 : <span th:text="${boardDto.writer}"></span></td>
        </tr>

        <tr>
            <td colspan="2"><span th:text="${boardDto.content}"></span></td>
        </tr>

        <div th:if="${boardDto.writer == #authentication.principal.user.id}">
            <tr>
                <td>
                    <a th:href="@{'/post/edit/' + ${boardDto.id}}">
                        <button class="btn btn-default" style="background-color: black; color: white;">수정</button>
                    </a>
                </td>
                <td>
                    <form id="delete-form" th:action="@{'/post/' + ${boardDto.id}}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button id="delete-btn" class="btn btn-default" style="background-color: black; color: white;">삭제</button>
                    </form>
                </td>
            </tr>
        </div>
    </table>

    <form th:action="@{'/post/' + ${boardDto.id}}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">

        <div class="form-group">
            <input type="text" class="form-control" id="writer" name="writer" th:value="${#authentication.principal.user.id}" readonly>
        </div>

        <div class="form-group">
            <textarea class="form-control" id="content" name="content" rows="3" placeholder="댓글을 작성해주세요." maxlength="990"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">댓글 작성</button>
    </form>

    <h3>댓글 목록</h3>
    <table>
        <tr th:each="comment : ${boardDto.comments}">
            <td th:text="${comment.writer}"></td>
            <td th:text="${comment.content}" id="comment-input"></td>
            <td th:if="${comment.writer == #authentication.principal.user.id}">
                <form th:action="@{'/post/' + ${boardDto.id} + '/' + ${comment.id}}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button class="btn btn-default" style="background-color: black; color: white;">삭제</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<script>
<!--document.getElementById('delete-btn').addEventListener('click', function() {-->
<!--    deleteComment(/*commentId를 전달*/);-->
<!--});-->

<!--function deleteComment(commentId) {-->
<!--    var boardNo = /*게시글 번호를 가져오는 코드*/;-->
<!--    fetch('/post/' + boardNo + '/' + commentId, {-->
<!--        method: 'DELETE'-->
<!--    }).then(function(response) {-->
<!--        if (response.ok) {-->
<!--            // 삭제 성공 시 동작할 코드-->
<!--        } else {-->
<!--            // 삭제 실패 시 동작할 코드-->
<!--        }-->
<!--    });-->
<!--}-->
</script>

<!-- 변수 셋팅 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var boardDto = /*[[${boardDto}]]*/ "";
    /*]]>*/
</script>

<!-- script -->
<script th:inline="javascript" th:src="@{/js/board.js}"></script>
</body>
</html>