<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>마이페이지</title>
  <link rel="stylesheet" href="/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css">
  <script src="/bootstrap-5.3.0-alpha3-dist/js/bootstrap.min.js"></script>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>

<div id="wrap" class="container" style="width: 60%">
  <div style="margin: 60px"></div>
  <sapn th:text="${#authentication.principal.user.name}"></sapn>님 안녕하세요
  </div>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>