<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>목록</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th {
            border: 1px solid #C3C1C1;
            padding: 10px;
            background-color: #C3C1C1;
        }

        td {
            border: 1px solid #C3C1C1;
            padding: 10px;
        }

        .align {
            text-align: center;
        }

        .inner-div {
            display: inline-block;
        }

        .contents-tr {
            cursor:pointer;
        }
    </style>
</head>
<body>
<div class="align">
    <h1>자유 게시판</h1>
    <div>
        <button onclick="location.href='/write'">글쓰기</button>
    </div>
    <br>
    <div class="inner-div">
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>글 쓴 시각</th>
                    <th>읽은 회수</th>
                </tr>
            </thead>
            <tbody>
                <tr class="contents-tr" th:each="post : ${list}" th:onclick="'location.href=\'/view/'+${post.idx}+'\''">
                    <td th:text="${post.idx}"></td>
                    <td th:text="${post.title}"></td>
                    <td th:text="${post.writer}"></td>
                    <td th:text="${post.time}"></td>
                    <td th:text="${post.readCount}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>