<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세페이지</title>
</head>
<body>
<h1><span th:text="${post.title}"/></h1>
<div class="align">
    <div>
        <div>
            <label>내용</label>
            <span th:text="${post.contents}"/>
        </div>
        <br>
        <div>
            <label>글쓴이</label>
            <span th:text="${post.writer}"/>
        </div>
        <br>
        <div>
            <label>글 쓴 시각</label>
            <span th:text="${post.time}"/>
        </div>
        <br>
        <div>
            <label>읽은 회수</label>
            <span th:text="${post.readCount}"/>
        </div>
    </div>
    <div>
        <button onclick="location.href='/list'">목록</button>
    </div>
</div>

</body>
</html>