<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <style>
        .inner-div {
            width: 650px;
            margin: auto;
        }

        .text {
            text-align: right;
        }
    </style>
</head>
<body>
<div>
    <h1 style="text-align: center">글쓰기</h1>
    <div class="inner-div">
        <form action="list" method="post">
            <table>
                <tr>
                    <td class="text">제목</td>
                    <td><input type="text" name="title" maxlength="100"/></td>
                </tr>

                <tr>
                    <td class="text">글쓴이</td>
                    <td><input type="text" name="writer" maxlength="50" /></td>
                </tr>

                <tr>
                    <td class="text">내용</td>
                    <td><textarea name="contents" rows="20" cols="80" maxlength="1000"></textarea></td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: center"><button>저장</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>